  <a class="button is-link is-outlined" href="https://github.com/alexharris">
    <span class="icon is-medium">
  <img src="/assets/img/github-icon.svg" alt="Alex Harris Image"> 
</span> <span>GitHub</span>
  </a>
    <a class="button is-link is-outlined" href="https://www.linkedin.com/in/alex-harris-a7425b90/">
    <span class="icon is-medium">
  <img src="/assets/img/linked-in-icon.svg" alt="Alex Harris Image"> 
</span> <span>LinkedIn</span>
  </a>
    <a class="button is-link is-outlined" href="mailto:alex@alexharris.online">
    <span class="icon is-medium">
  <img src="/assets/img/email-icon.svg" alt="Alex Harris Image"> 
</span> <span>Email</span>
  </a>

<!-- <ul class="social-media-list">
  <li>
    <span class="icon is-medium">
  <img src="/assets/img/github-icon.svg" alt="Alex Harris Image"> 
</span> Github
</li>

  {%- if site.github_username -%}<li><a href="https://github.com/{{ site.github_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg> <span class="username">{{ site.github_username| escape }}</span></a></li>{%- endif -%}
  {%- if site.linkedin_username -%}<li><a href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use></svg> <span class="username">{{ site.linkedin_username| escape }}</span></a></li>{%- endif -%}
  {%- if site.twitter_username -%}<li><a href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg> <span class="username">{{ site.twitter_username| escape }}</span></a></li>{%- endif -%}
  {%- if site.rss -%}<li><a href="{{ 'feed.xml' | relative_url }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg> <span>{{ site.rss | escape }}</span></a></li>{%- endif -%}
</ul> -->
